footer.bg-dark-900.text-gray-400.mt-12
  .container.mx-auto.px-4.py-6
    .flex.flex-col.md-flex-row.justify-between.items-center(class="md:flex-row")
      .text-sm.mb-4.md-mb-0(class="md:mb-0")
        span © #{new Date().getFullYear()} 
        a.text-primary-400(class="hover:text-primary-300" href="https://github.com/thejordanprice/p2pspider") P2P Spider
        span.mx-2 |
        span Made with 
        i.fas.fa-heart.text-red-500.mx-1
        
      .flex.space-x-4
        a.text-gray-400.transition-colors.duration-150(class="hover:text-primary-400" href="https://github.com/thejordanprice/p2pspider", target="_blank", aria-label="GitHub")
          i.fab.fa-github.text-xl
        a.text-gray-400.transition-colors.duration-150(class="hover:text-primary-400" href="https://github.com/thejordanprice/p2pspider/issues", target="_blank", aria-label="Issues")
          i.fas.fa-bug.text-xl
