head
  title= title
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  meta(name='google', value='notranslate')

  // Stylesheets
  link(rel='stylesheet', href='public/css/tailwind.css')
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css')
  link(rel='stylesheet', href='https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap')
  
  // Favicons
  link(rel="icon", href="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0NDggNTEyIiBmaWxsPSIjMGVhNWU5Ij4KICA8IS0tIFNpbXBsaWZpZWQgbWFnbmV0IGljb24gYmFzZWQgb24gRm9udCBBd2Vzb21lIC0tPgogIDxwYXRoIGQ9Ik0xMjggMTI4aDE5MnYxMjguN2MwIDU5LjUtNDIuNyAxMDguOC05OC45IDExOS4xYy01NS41IDEwLjEtMTA5LjItMjQuMy0xMjcuMy03OS4xYy0zMi42LTMuNy02MS4zLTIxLjgtNzkuNS00OC4yYy0zMC41LTQ0LjMtMjIuNC0xMDQuOCAxOS4yLTEzOS42VjEyOHpNMzA0IDY0SDE0NGMtOC44IDAtMTYtNy4yLTE2LTE2czcuMi0xNiAxNi0xNmgxNjBjOC44IDAgMTYgNy4yIDE2IDE2cy03LjIgMTYtMTYgMTZ6bS04MCAzODRjNzkuNSAwIDE0NC02NC41IDE0NC0xNDRWMTI4YzAtMzUuMy0yOC43LTY0LTY0LTY0SDE0NGMtMzUuMyAwLTY0IDI4LjctNjQgNjR2MTc2YzAgNzkuNSA2NC41IDE0NCAxNDQgMTQ0eiIvPgo8L3N2Zz4g")
  link(rel="icon", href="public/favicon/favicon.svg", type="image/svg+xml")
  link(rel="apple-touch-icon", sizes="180x180", href="public/favicon/apple-touch-icon.png")
  link(rel="manifest", href="public/favicon/site.webmanifest")
  
  // Scripts
  script(src='https://cdn.jsdelivr.net/npm/alpinejs@3.13.3/dist/cdn.min.js' defer)
