nav.bg-dark-900.text-white.shadow
  .container.px-4.mx-auto
    .flex.items-center.justify-between.h-16
      a.flex.items-center.text-primary-400.font-bold.text-xl(href='/')
        i.fas.fa-magnet.mr-2
        span= site_name || 'P2P Magnet Search'
      
      // Mobile menu button
      button.sm-hidden.flex.items-center.justify-center.p-2.rounded-md.text-gray-400(
        class="sm:hidden hover:text-white hover:bg-dark-800 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white"
        type='button' 
        x-data="{open: false}" 
        @click="open = !open" 
        :aria-expanded="open ? 'true' : 'false'"
      )
        span.sr-only Toggle menu
        svg.h-6.w-6(xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke='currentColor' aria-hidden='true' x-show="!open")
          path(stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M4 6h16M4 12h16M4 18h16')
        svg.h-6.w-6(xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke='currentColor' aria-hidden='true' x-show="open" style="display: none;")
          path(stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M6 18L18 6M6 6l12 12')
      
      // Desktop navigation
      .hidden(class="sm:flex sm:space-x-6")
        a.flex.items-center.px-3.py-2.text-gray-300.rounded-md.transition-colors.duration-150(class="hover:text-white hover:bg-dark-800" href='/')
          i.fas.fa-search.mr-2
          span Search
        a.flex.items-center.px-3.py-2.text-gray-300.rounded-md.transition-colors.duration-150(class="hover:text-white hover:bg-dark-800" href='/latest')
          i.fas.fa-clock.mr-2
          span Latest
        a.flex.items-center.px-3.py-2.text-gray-300.rounded-md.transition-colors.duration-150(class="hover:text-white hover:bg-dark-800" href='/statistics')
          i.fas.fa-fire.mr-2
          span Statistics
    
    // Mobile menu
    .sm-hidden(class="sm:hidden" x-data="{open: false}" x-show="open" @click.away="open = false" style="display: none;")
      .pt-2.pb-3.space-y-1
        a.block.px-3.py-2.text-gray-300.rounded-md.transition-colors.duration-150(class="hover:text-white hover:bg-dark-800" href='/')
          i.fas.fa-search.mr-2
          span Search
        a.block.px-3.py-2.text-gray-300.rounded-md.transition-colors.duration-150(class="hover:text-white hover:bg-dark-800" href='/latest')
          i.fas.fa-clock.mr-2
          span Latest
        a.block.px-3.py-2.text-gray-300.rounded-md.transition-colors.duration-150(class="hover:text-white hover:bg-dark-800" href='/statistics')
          i.fas.fa-fire.mr-2
          span Statistics
