html
    include includes/header.pug
    body
        script.
            const updateCount = () => {
                $.ajax('/api/count', {
                    success: (data) => { 
                        $('#counter').html(data + " magnets...");
                    },
                    error: () => {
                        clearInterval(timer);
                        $('#counter').html("Server not responding...");
                    }
                });
            };

            updateCount();

            const timer = setInterval(() => {
                updateCount();
            }, 5000);


        include includes/navbar.pug
        .container
            div(style='text-align:center')
                br
                h2#counter
                br
                p This is a database of magnet URI's that have been spotted in the wild
                | on the DHT swarm via the bittorrent protocol.

            include includes/footer.pug
