html
    include includes/header.pug
    body
        script.
            $.ajax('/api/count', {
                success: (data) => { 
                    $('#counter').html(data + " magnets..."); 
                }
            });

            setInterval(() => {
                $.ajax('/api/count', {
                    success: (data) => { 
                        $('#counter').html(data + " magnets..."); 
                    }
                });
            }, 5000);


        include includes/navbar.pug
        .container
            div(style='text-align:center')
                br
                h2#counter
                br
                p This is a database of magnet URI's that have been spotted in the wild
                | on the DHT swarm via the bittorrent protocol.

            include includes/footer.pug
