html
    include includes/header.pug
    body
        script.
            const ws = new WebSocket("#{wsServerAddress}");
            
            ws.onmessage = (event) => {
                const data = JSON.parse(event.data);
                $('#counter').html(data.count + " magnets...");
            };

            ws.onopen = () => {
                console.log('WebSocket connection established.');
            };

            ws.onerror = (error) => {
                console.error('WebSocket Error:', error);
                $('#counter').html("Server not responding...");
            };

        include includes/navbar.pug
        .container
            div.text-center
                br
                h2#counter
                br
                p This is a database of magnet URI's that have been spotted in the wild
                | on the DHT swarm via the bittorrent protocol.

            include includes/footer.pug
