html
    include includes/header.pug
    body
        include includes/navbar.pug
        .container
            each item in results
                .container
                    .card(style='')
                        .card-body
                            h4.card-title= item.name
                            h6.card-subtitle.mb-2= 'Infohash: ' + item.infohash
                            - var filestring = item.toObject().files;
                            - var formatstring = filestring.split(',').join('\n');
                            - if (formatstring.length > 100) {formatstring = formatstring.substring(0,100)};
                            pre= formatstring || item.name
                            .btn-group
                                a.btn.btn-default.card-link(href='/infohash?q=' + item.infohash) Details
                                a.btn.btn-default.card-link(href=item.magnet + trackers) Magnet URI

            br
            a(href='/') Back

            br
            br
            include includes/footer.pug
