html
  include includes/header.pug
  body
    include includes/navbar.pug
    .container
      div(style='text-align: center; padding-top: 80px;')
        form(action='/search')
          input(placeholder='Search..', id='search', type='search', name='q')

      include includes/footer.pug
